:root {
  --gameBackground: green;
  --gameBorder: #00bf00;
  --cursorHighlight: #0000ff;
  --dropDown: #006eff;
  --scoreBoard: white;
  --clicked: #ffff00;
  --win: greenyellow;
  --tie: #ff1e1e;
  --textColor: black;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--textColor);
  background-color: #feffee;
}

#start {
  background-color: var(--gameBackground);
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid var(--gameBorder);
}

#start>h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 100px;
}

#startButton {
  width: 200px;
  height: 100px;
  border-radius: 30px;
  border: none;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 200px;
  outline: none;
  background-color: var(--scoreBoard);
}

#startButton:hover {
  position: relative;
  bottom: 5px;
  right: 5px;
  box-shadow: 5px 5px var(--gameBorder);
}

#startButton:active {
  bottom: 2px;
  right: 2px;
  box-shadow: 2px 2px var(--gameBorder);
  outline: none;
}

@keyframes pandown {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}

#scoreboard {
  display: flex;
  justify-content: space-around;
  position: relative;
  animation: pandown 2s;
  z-index: 1;
}

#scoreboard div {
  background-color: var(--scoreBoard);
  margin-top: 10px;
  height: 80px;
  width: 150px;
  border-radius: 20px;
  text-align: center;
}

@keyframes width {
  from {
    height: 600px;
  }
  to {
    height: 700px;
  }
}

#gametotal {
  height: 710px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 5vw;
  background-color: var(--dropDown);
  border-radius: 20px;
  animation: width 2s;
  box-sizing: content-box;
  border: 5px solid var(--gameBorder);
  overflow: hidden;
}

#gameboard {
  position: relative;
  width: 600px;
  height: 600px;
  display: flex;
  z-index: 5;
}

#gameboard>div {
  width: 200px;
}

#gameboard>div>div {
  height: 200px;
  background-color: var(--gameBackground);
}

.boxb {
  border-bottom: 2.5px solid var(--gameBorder);
}

.boxl {
  border-left: 2.5px solid var(--gameBorder);
}

.boxr {
  border-right: 2.5px solid var(--gameBorder);
}

.boxt {
  border-top: 2.5px solid var(--gameBorder);
}

.bottom {
  border-bottom: 5px solid var(--gameBorder);
}

#gameboard>div>div:hover {
  background-color: var(--cursorHighlight);
}

.clicked {
  background-color: var(--clicked) !important;
  pointer-events: none;
  font-size: 200px;
  text-align: center;
  padding: 0px;
  line-height: 180px;
}

#win {
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: var(--win);
}

#tie {
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: var(--tie);
}

#tie h2, #win h2 {
  text-align: center;
  margin-top: 100px;
  font-size: 100px;
  line-height: 85%;
}

#tie h2 {
  line-height: 50%;
}

#tie button, #win button {
  background-color: var(--scoreBoard);
  width: 200px;
  height: 100px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 30px;
  border: none;
  font-weight: 900;
  font-size: 25px;
  outline: none;
  margin-top: 85px;
}

#tie button:hover, #win button:hover {
  position: relative;
  bottom: 5px;
  right: 5px;
  box-shadow: 5px 5px var(--gameBorder);
}

#tie button:active, #win button:active {
  bottom: 2px;
  right: 2px;
  box-shadow: 2px 2px var(--gameBorder);
  outline: none;
}